<launch>
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pro3_pointcloud_to_laserscan">
    <remap from="cloud_in" to="/os_cloud_node/points"/>
    <remap from="scan" to="/pro3/rlscan"/>
    <rosparam>
      min_height: -0.4
      max_height: 1.0
      angle_min: -3.14159
      angle_max: 3.14159
      angle_increment: 0.01227
      scan_time: 0.0
      range_min: 0.1
      range_max: 15.0
      use_inf: true
      inf_epsilon: 1.0
      concurrency_level: 1
    </rosparam>
  </node>
</launch>
