<launch>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>

  <env name="GAZEBO_MODEL_PATH"
       value="$(find lste_core)/worlds:$(optenv GAZEBO_MODEL_PATH)"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find lste_core)/worlds/lab_building.world"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>
</launch>
