<launch>
  <arg name="robot_name" default="pro3"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.1"/>
  <arg name="yaw" default="0.0"/>
  <arg name="robot_description_path" default="$(find pja)/urdf/pro3.xacro"/>

  <group ns="$(arg robot_name)">
    <param name="robot_description"
           command="$(find xacro)/xacro '$(arg robot_description_path)' ns:=$(arg robot_name)" />

    <node pkg="robot_state_publisher"
          type="robot_state_publisher"
          name="robot_state_publisher"
          output="screen">
      <param name="publish_frequency" type="double" value="50.0"/>
    </node>

    <node pkg="gazebo_ros"
          type="spawn_model"
          name="spawn_pro3"
          args="-urdf -param robot_description -model $(arg robot_name) -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)" />
  </group>
</launch>
